/* App.css */

.nav {
  list-style-type: none;
  padding: 0%;
  display: flex;
  gap: 10px;
}

.nav li {
  display: inline;
}

.nav a {
  text-decoration: none;
  padding: 10px 20px;
  color: black;
  border-radius: 5px;
}

.nav a.active {
  background-color: #007bff;
  color: white;
}
.prabu{
  width:15%;
height:10%;
margin:1%;
}